.wrap{
    margin: 0 auto;
    position: relative;
    width: 100%;
    min-height: 100%;
    background-color: #070455;
}
.banner{
    width: 100%;
    height: r(300);
    @include bg('https://img.mofyi.com/201811/0210440575980.jpg');
}
.index-main{
    @include boxSizing;
    padding: r(24);
    position: relative;

    .index-btn1{
        width: r(340);
        height: r(160);
        display: block;
        float: left;
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
    }
    .index-btn1-2{
        float: right;
    }

    .line2{
        padding: r(40) 0;
    }
    .line2-btn1{
        display: block;
        @include bg('https://img.mofyi.com/201811/0211073781955.png');
        width: r(162);
        height: r(43);
        float: left;
    }
    .line2-btn2{
        display: block;
        @include bg('https://img.mofyi.com/201811/0211073771570.png');
        width: r(203);
        height: r(43);
        float: left;
        margin-left: r(67);
    }
    .line2-btn3{
        display: block;
        @include bg('https://img.mofyi.com/201811/0211073791133.png');
        width: r(203);
        height: r(43);
        float: right;
    }
    
    .line3 {
        > a{
            display: block;
            width: r(340);
            height: r(340);
            -webkit-background-size: 100% 100%;
            background-size: 100% 100%;
            margin-bottom: r(22);
        }
        > a:nth-child(2n-1){
            float: left;
        }
        > a:nth-child(2n){
            float: right;
        }
    }

    .b-logo{
        @include bg('https://img.mofyi.com/201811/0211033694947.png');
        width: r(243);
        height: r(57);
        display: block;
        margin: r(40) auto;
    }
    // emmm
}